# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.vscode

.pypirc

# ignore files starting with numbers (mostly medical reports)
tests/rtf/[0-9]*.rtf


.DS_Store

# codespaces
pythonenv3.8
rtf_infile/011515.rtf
rtf_infile/013115.rtf
rtf_infile/020215.rtf
rtf_infile/020615.rtf
rtf_infile/020715.rtf
rtf_infile/020915.rtf
rtf_infile/021515.rtf
rtf_infile/021915.rtf
rtf_infile/022015.rtf
rtf_infile/022115.rtf
rtf_infile/022615.rtf
rtf_infile/030715.rtf
rtf_infile/030815.rtf
rtf_infile/031415.rtf
rtf_infile/031815.rtf
rtf_infile/032915.rtf
rtf_infile/033015.rtf
rtf_infile/033115.rtf
rtf_infile/040115.rtf
rtf_infile/040215.rtf
rtf_infile/040615.rtf
rtf_infile/040715.rtf
rtf_infile/041115.rtf
rtf_infile/041215.rtf
rtf_infile/051115.rtf
rtf_infile/051315.rtf
rtf_infile/051714.rtf
rtf_infile/051814.rtf
rtf_infile/052314.rtf
rtf_infile/052514.rtf
rtf_infile/052614.rtf
rtf_infile/052714.rtf
rtf_infile/052914.rtf
rtf_infile/053014.rtf
rtf_infile/053114.rtf
rtf_infile/060314.rtf
rtf_infile/060814.rtf
rtf_infile/061514.rtf
rtf_infile/061515.rtf
rtf_infile/061516.rtf
rtf_infile/061914.rtf
rtf_infile/062014.rtf
rtf_infile/062114.rtf
rtf_infile/062214.rtf
rtf_infile/062314.rtf
rtf_infile/062414.rtf
rtf_infile/062514.rtf
rtf_infile/062614.rtf
rtf_infile/063014.rtf
rtf_infile/070115.rtf
rtf_infile/070515.rtf
rtf_infile/070615.rtf
rtf_infile/070815.rtf
rtf_infile/070914.rtf
rtf_infile/071314.rtf
rtf_infile/071414.rtf
rtf_infile/071615.rtf
rtf_infile/071714.rtf
rtf_infile/073114.rtf
rtf_infile/080414.rtf
rtf_infile/080514.rtf
rtf_infile/081314.rtf
rtf_infile/082115.rtf
rtf_infile/082215.rtf
rtf_infile/082614.rtf
rtf_infile/083014.rtf
rtf_infile/090114.rtf
rtf_infile/090515.rtf
rtf_infile/092614.rtf
rtf_infile/100314.rtf
rtf_infile/100614.rtf
rtf_infile/101114.rtf
rtf_infile/101214.rtf
rtf_infile/101814.rtf
rtf_infile/101914.rtf
rtf_infile/102014.rtf
rtf_infile/102514.rtf
rtf_infile/110214.rtf
rtf_infile/110314.rtf
rtf_infile/110414.rtf
rtf_infile/111014.rtf
rtf_infile/111414.rtf
rtf_infile/111514.rtf
rtf_infile/112314.rtf
rtf_infile/120114.rtf
rtf_infile/120214.rtf
rtf_infile/120814.rtf
rtf_infile/121114.rtf
rtf_infile/122014.rtf
rtf_infile/122114.rtf
rtf_infile/122614.rtf
rtf_infile/122814.rtf
rtf_infile/122914.rtf
txt_md_outfile/011515.md
txt_md_outfile/013115.md
txt_md_outfile/020215.md
txt_md_outfile/020615.md
txt_md_outfile/020715.md
txt_md_outfile/020915.md
txt_md_outfile/021515.md
txt_md_outfile/021915.md
txt_md_outfile/022015.md
txt_md_outfile/022115.md
txt_md_outfile/022615.md
txt_md_outfile/030715.md
txt_md_outfile/030815.md
txt_md_outfile/031415.md
txt_md_outfile/031815.md
txt_md_outfile/032915.md
txt_md_outfile/033015.md
txt_md_outfile/033115.md
txt_md_outfile/040115.md
txt_md_outfile/040215.md
txt_md_outfile/040615.md
txt_md_outfile/040715.md
txt_md_outfile/041115.md
txt_md_outfile/041215.md
txt_md_outfile/051115.md
txt_md_outfile/051315.md
txt_md_outfile/051714.md
txt_md_outfile/051814.md
txt_md_outfile/052314.md
txt_md_outfile/052514.md
txt_md_outfile/052614.md
txt_md_outfile/052714.md
txt_md_outfile/052914.md
txt_md_outfile/053014.md
txt_md_outfile/053114.md
txt_md_outfile/060314.md
txt_md_outfile/060814.md
txt_md_outfile/061514.md
txt_md_outfile/061515.md
txt_md_outfile/061516.md
txt_md_outfile/061914.md
txt_md_outfile/062014.md
txt_md_outfile/062114.md
txt_md_outfile/062214.md
txt_md_outfile/062314.md
txt_md_outfile/062414.md
txt_md_outfile/062514.md
txt_md_outfile/062614.md
txt_md_outfile/063014.md
txt_md_outfile/070115.md
txt_md_outfile/070515.md
txt_md_outfile/070615.md
txt_md_outfile/070815.md
txt_md_outfile/070914.md
txt_md_outfile/071314.md
txt_md_outfile/071414.md
txt_md_outfile/071615.md
txt_md_outfile/071714.md
txt_md_outfile/073114.md
txt_md_outfile/080414.md
txt_md_outfile/080514.md
txt_md_outfile/081314.md
txt_md_outfile/082115.md
txt_md_outfile/082215.md
txt_md_outfile/082614.md
txt_md_outfile/083014.md
txt_md_outfile/090114.md
txt_md_outfile/090515.md
txt_md_outfile/092614.md
txt_md_outfile/100314.md
txt_md_outfile/100614.md
txt_md_outfile/101114.md
txt_md_outfile/101214.md
txt_md_outfile/101814.md
txt_md_outfile/101914.md
txt_md_outfile/102014.md
txt_md_outfile/102514.md
txt_md_outfile/110214.md
txt_md_outfile/110314.md
txt_md_outfile/110414.md
txt_md_outfile/111014.md
txt_md_outfile/111414.md
txt_md_outfile/111514.md
txt_md_outfile/112314.md
txt_md_outfile/120114.md
txt_md_outfile/120214.md
txt_md_outfile/120814.md
txt_md_outfile/121114.md
txt_md_outfile/122014.md
txt_md_outfile/122114.md
txt_md_outfile/122614.md
txt_md_outfile/122814.md
txt_md_outfile/122914.md
