# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.vscode

.pypirc

# ignore files starting with numbers (mostly medical reports)
tests/rtf/[0-9]*.rtf


.DS_Store

# codespaces
pythonenv3.8
rtf_infile/011515.rtf
rtf_infile/013115.rtf
rtf_infile/020215.rtf
rtf_infile/020615.rtf
rtf_infile/020715.rtf
rtf_infile/020915.rtf
rtf_infile/021515.rtf
rtf_infile/021915.rtf
rtf_infile/022015.rtf
rtf_infile/022115.rtf
rtf_infile/022615.rtf
rtf_infile/030715.rtf
rtf_infile/030815.rtf
rtf_infile/031415.rtf
rtf_infile/031815.rtf
rtf_infile/032915.rtf
rtf_infile/033015.rtf
rtf_infile/033115.rtf
rtf_infile/040115.rtf
rtf_infile/040215.rtf
rtf_infile/040615.rtf
rtf_infile/040715.rtf
rtf_infile/041115.rtf
rtf_infile/041215.rtf
rtf_infile/051115.rtf
rtf_infile/051315.rtf
rtf_infile/051714.rtf
rtf_infile/051814.rtf
rtf_infile/052314.rtf
rtf_infile/052514.rtf
rtf_infile/052614.rtf
rtf_infile/052714.rtf
rtf_infile/052914.rtf
rtf_infile/053014.rtf
rtf_infile/053114.rtf
rtf_infile/060314.rtf
rtf_infile/060814.rtf
rtf_infile/061514.rtf
rtf_infile/061515.rtf
rtf_infile/061516.rtf
rtf_infile/061914.rtf
rtf_infile/062014.rtf
rtf_infile/062114.rtf
rtf_infile/062214.rtf
rtf_infile/062314.rtf
rtf_infile/062414.rtf
rtf_infile/062514.rtf
rtf_infile/062614.rtf
rtf_infile/063014.rtf
rtf_infile/070115.rtf
rtf_infile/070515.rtf
rtf_infile/070615.rtf
rtf_infile/070815.rtf
rtf_infile/070914.rtf
rtf_infile/071314.rtf
rtf_infile/071414.rtf
rtf_infile/071615.rtf
rtf_infile/071714.rtf
rtf_infile/073114.rtf
rtf_infile/080414.rtf
rtf_infile/080514.rtf
rtf_infile/081314.rtf
rtf_infile/082115.rtf
rtf_infile/082215.rtf
rtf_infile/082614.rtf
rtf_infile/083014.rtf
rtf_infile/090114.rtf
rtf_infile/090515.rtf
rtf_infile/092614.rtf
rtf_infile/100314.rtf
rtf_infile/100614.rtf
rtf_infile/101114.rtf
rtf_infile/101214.rtf
rtf_infile/101814.rtf
rtf_infile/101914.rtf
rtf_infile/102014.rtf
rtf_infile/102514.rtf
rtf_infile/110214.rtf
rtf_infile/110314.rtf
rtf_infile/110414.rtf
rtf_infile/111014.rtf
rtf_infile/111414.rtf
rtf_infile/111514.rtf
rtf_infile/112314.rtf
rtf_infile/120114.rtf
rtf_infile/120214.rtf
rtf_infile/120814.rtf
rtf_infile/121114.rtf
rtf_infile/122014.rtf
rtf_infile/122114.rtf
rtf_infile/122614.rtf
rtf_infile/122814.rtf
rtf_infile/122914.rtf
